# Ignore dependencies
node_modules/
server/node_modules/
customizable-nav/node_modules/

# Ignore build files
customizable-nav/.next/
customizable-nav/out/
server/dist/

# Logs
*.log
yarn-debug.log*
npm-debug.log*

# Environment variables
.env
server/.env
customizable-nav/.env
