.accordionWrapper {
  .accordionItem {
    .accordionHeader {
      background-color: var(--grey-color-light) !important;
      color: var(--black-color);
      font-weight: 500;
      text-align: left;

      button {
        background-color: var(--grey-color-light) !important;
      }
    }
  }
}

.simpleItem {
  height: 54px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #dee2e6;
  padding: 10px 24px;
  background-color: var(--grey-color-light);
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: black;
}
