.navbar {
  background-color: #111;
  color: var(--white-color);
  padding: 10px 32px;

  .row{
    display: flex;
    align-items: center;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.searchContainer {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 5px 10px;
  width: 320px; 
}

.searchButton {
  background-color: #4caf50;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 8px;

  i {
    color: white;
    font-size: 16px;
  }
}

.searchInput {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  color: #555;
  background: transparent;

  &::placeholder {
    color: #aaa;
  }
}

.rightCol {
  color: var(--white-color);
  justify-content: end;

  i {
    font-size: var(--font-size-xl);
  }

  a {
    text-decoration: none;
    color: var(--white-color);
  }

  .leftNavs,
  .rightNavs {
    display: flex;
  }

  .linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  }
}


@media (max-width: 768px) {
  .searchContainer {
    display: none !important;
  }

  .rightCol {
    display: none !important;
  }
}
